<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ movie.title }}</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/details.css">
</head>
<body>
  <main>
  <section class="movie-details">
    <div class="background">
      {% if movie.isHorror %}
        <img src="/images/cemetary.svg" alt="Cemetary">
        <img src="/images/ghost.svg" class="ghost" alt="Ghost">
      {% else %}
        <p>Default background for non-horror movies</p>
      {% endif %}
    </div>
    <a href="/" class="back-button">← Back</a>

    <img src="{{ movie.image }}" alt="{{ movie.title }}">

    <div class="movie-content">
      <h1>{{ movie.title }}</h1>
      <p>{{ movie.description }}</p>

      <div class="trailer-container">
        {% if movie.trailerUrl %}
          <iframe 
            width="560" 
            height="315" 
            src="{{ movie.trailerUrl }}" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
        {% endif %}
      </div>
    </div>
  </section>
</main>
<script src="/details.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/MotionPathPlugin.min.js"></script>

</body>
</html>
